* {
    margin: 0;
    padding: 0;

}

body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;

    background: rgba(15, 15, 15, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover {
    color: #E8D643;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(255, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 250px;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menubutton {
    display: none;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

@media (max-width: 800px) {
    .hideonmobile {
        display: none;
    }
    .menubutton {
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}